<h1> Settings </h1>

<div class="modal-body row">
  <div class="col-md-6">
     <textarea rows="20" cols="60">
    </textarea>
  </div>
  <div class="col-md-6">
   <p>To the left is a box that allows you to paste HTML in it.
   This allows you to lay out your page just how you want it. It uses Carrot syntax, too.
    Carrot is a simple templating language I wrote that can be embedded into HTML.
   In this HTML, you are free to use
   carrot syntax, which looks like this:
      </p>
   <br>
    <code>
      {{ name="Matt";}}
      <br>
      Hi, This is {{ name; }}'s website.
    </code>

    <br>
    <br>
    
    <p>This allows you to specify variables of commonly used words, and soon it will support block syntax so you can 
    lay out each image how you want it.
    </p> 
  </div>
</div>

