<h1> Settings </h1>

<div class="modal-body row">
  <div class="col-md-6">
    <% if current_user.pre_carrot.nil? %>
        <% text_area_placeholder = "{{name=\"" + current_user.name + "\";}}
          {{photos;}}
          {{photo.title;}}
          {{photo.image;}}
          {{photos;}}" %>
    <% else %>
        <% text_area_placeholder = current_user.pre_carrot %>
    <% end %>
    <%= form_tag settings_queuepage_url do %>
            <%= text_area_tag :body, text_area_placeholder,  size: '80x20'%>
            <%= submit_tag %>
        <% end %>
  </div>
  <div class="col-md-6">
   <p>To the left is a box that allows you to paste HTML in it.
   This allows you to lay out your page just how you want it. It uses Carrot syntax, too.
    Carrot is a simple templating language I wrote that can be embedded into HTML.
   In this HTML, you are free to use
   carrot syntax, which looks like this:
      </p>
   <br>
    <code>
      {{name="Matt";}}
      <br>
      Hi, This is {{name;}}'s website.
    </code>

    <br>
    <br>
    <p>This allows you to specify variables of commonly used words, and soon it will support block syntax so you can 
    lay out each image how you want it.
    </p> 
  </div>
</div>

