// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 #my-row {
    display: table;
}

#my-row .panel {
    float: none;
    display: table-cell;
    vertical-align: top;
}