<p><%= @image.title %></p>
<% if Rails.env.production?%>
  <% image_path = "/i/" + @image.path %>
<% else %>
  <% image_path = @image.path %>
<% end %>

<%= image_tag(image_path) %>
<%= link_to 'Delete', images_url(id: @image.id), method: :delete, data: { confirm: 'Are you sure?' } %>
